node_modules
npm-debug.log
plugins
/Dockerfile
/test/
/docs/
/.idea/
/.github/
/.tmp/
**/*.sqlite
/.eslintignore
/.npmignore
/.editorconfig
/.eslintrc.json
/.travis.yml
/.snyk
/identifier
/LICENSE
/README.md
/config/speech/*.json
