@charset "UTF-8";

$topBarColor : #252525;
$topBarTransparentColor : rgba(37, 37, 37, 0.8);
$backgroundColor : #ecf0f1;
$themeColor : #1bbc9b;

$lightTextColor : #FFF;
$darkTextColor : #252525;

$disableColor : #cfcfcf;
$lightBgColor : #bec3c7;
